/* Tailwind v4 */
@import 'tailwindcss';
@import 'pretendard/dist/web/static/pretendard.css';

:root {
  font-family:
    Pretendard,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    sans-serif;
}
